<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <!--render 'shared/post_form' %>-->
      </section>
    </aside>

    <div class="col-md-8">      
      <h3 id= "feed">Post Feed</h3>
      <%= render 'shared/feed' %>
      <!--Pager  col-md-offset-1-->   
      <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>   
    </div>
  </div>

<% else %>


<div class="center jumbotron">
  <h1 id = "j">United We Grow</h1>

  <h2>
    A site for smart organizations.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>




<div class="row">

	<div class="col-sm-3">
		<div class="row">
			<ul>
  				<p id = "org">
				<%= link_to "All Organizations", users_path %>
  				</p>
          <ul id = "org2">
  				    <!--%= render @users %>-->
           </ul>
			</ul>
		</div>
	</div>

	<div class="col-lg-7">
		 <div class="row">
        <div class="col-md-11" id = "posts">
            <div class="post-preview">
                <%= link_to signup_path do%> 
                    <h2 class="post-title" id = "posttitle">
                        Fffundraiser title
                    </h2>
                <% end%>
                <h3 class="post-subtitle">
                        Little description of fundraiser.
                        
                    </h3>
                
                <p class="post-meta">Posted by <a href="#">Organization</a> on September 18, 2014</p>
            </div>
            <hr>


             <!--Pager  col-md-offset-1-->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
	</div>

	<div class="col-sm-2">
		<div class="row">
			<div class="list-group " id = "news">
  				<div class="list-group-item list-group-item-action list-group-item-success">
				<a href="https://www.utrgv.edu/en-us/about-utrgv/news/in-the-press/index.htm">UTRGV News</a>
  				</div>
				  <!--<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>-->
				 
			</div>
		</div>
	</div>


</div>

<%end%>






