

<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
            
                <%= link_to signup_path do%> 
                <h2 class="post-title" id = "posttitle">
                   <%= post.title %>
                </h2>

                <% end%>
                <h3 class="content">
                   <%= post.body %>
                </h3>

                <h3 class="content">
                   <%= post.need %>
                </h3>
                
                <% if current_user? (post.user) %>
                <h3><a class="btn btn-success" href="/charge" id = "donate" style="float: right;" role="button">Donate to my organization</a></h3>
              <!--click button and goes donation-->
              <% else %>
                <h3><a class="btn btn-success" href="/charge" id = "donate" style="float: right;" role="button">Donate</a></h3>
              <% end %>

                <p class="timestamp" id="time">Posted by <span class="user"><%= link_to post.user.name, post.user %> </span> <%= time_ago_in_words(post.created_at) %> ago.
            
                    <% if current_user?(post.user) %>
                      <%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" } %>
                     <% end %>
                </p>
            
            <hr>
   
   </li>  


   <!--
<li id="post-<%= post.id %>">
  %= link_to gravatar_for(post.user, size: 50), post.user %>


  <span class="user">%= link_to post.user.name, post.user %></span>
  <h2 class="post-title" id = "posttitle">%= post.title %></h2>
  <span class="content"><h3 class="post-subtitle">
    <%= post.body %>    
  </h3></span>
  <span class="content">%= post.need %></span>
  <span class="content">%= image_tag post.picture.url if post.picture? %></span>
  


  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    % if current_user?(post.user) %>
      %= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    % end %>
  </span>
</li>
-->
            