<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>


  <span class="user"><%= link_to post.user.name, post.user %></span>
  <h2 class="post-title" id = "posttitle"><%= post.title %></h2>
  <span class="content"><h3 class="post-subtitle">
  	<%= post.body %>  	
  </h3></span>
  <span class="content"><%= post.need %></span>
  <span class="content"><%= image_tag post.picture.url if post.picture? %></span>
  


  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>


<div class="col-lg-7">
     <div class="row">
        <div class="col-md-11" id = "posts">
            <div class="post-preview">
                <%= link_to signup_path do%> 
                    <h2 class="post-title" id = "posttitle">
                        Fundraiser title
                    </h2>
                <% end%>
                <h3 class="post-subtitle">
                        Little description of fundraiser.
                    </h3>
                
                <p class="post-meta">Posted by <a href="#">Organization</a> on September 18, 2014</p>
            </div>
            <hr>

                     <!--Pager  col-md-offset-1-->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
  </div>