<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="money">
      <%= image_tag("candy.jpg", alt: "Generic money image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="travel">
      <%= image_tag("cake.jpg", alt: "Generic travel image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="beach">
      <%= image_tag("bbq.png", alt: "Generic bbq image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="desk">
      <%= image_tag("raffle.jpg", alt: "Generic raffle image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="puppy">
      <%= image_tag("food.jpg", alt: "Generic food image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="snow">
      <%= image_tag("pig.gif", alt: "Generic pig image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="ocean">
      <%= image_tag("carwash.jpg", alt: "Generic carwash image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="sf">
      <%= image_tag("jar.jpg", alt: "Generic jar image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="wedding">
      <%= image_tag("chris.jpg", alt: "Generic chris image", class: "img-thumbnail") %>
    </a>
  </div>
</div>