<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="candy">
      <%= image_tag("candy.jpg", alt: "Generic candy image", class: "img-thumbnail") %>
    </a>
  </div>

  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="cake">
      <%= image_tag("cake.jpg", alt: "Generic cake image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="bbq">
      <%= image_tag("bbq.png", alt: "Generic bbq image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="raffle">
      <%= image_tag("raffle.jpg", alt: "Generic raffle image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="food">
      <%= image_tag("food.jpg", alt: "Generic food image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="pig">
      <%= image_tag("pig.gif", alt: "Generic pig image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="carwash">
      <%= image_tag("carwash.jpg", alt: "Generic carwash image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="jar">
      <%= image_tag("jar.jpg", alt: "Generic jar image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="fundraiser-image" href="javascript:void(0);" id="chris">
      <%= image_tag("chris.jpg", alt: "Generic chris image", class: "img-thumbnail") %>
    </a>
  </div>
</div>