<%= content_for :page_title, 'Fundraising | Dashboard' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center topspace">
      <%= render 'layouts/messages' %>
    </div>
  </div>

      <% unless @stripe_account.verification.fields_needed.empty? %>
        <%= render 'verification' %>
      <% end %>

      <div class="jumbotron">
      <h1 class="display-4">Organization
     <%= current_user.email%></h1>

    </div>
  
<!-- show fundraisers or redirect to create one-->
  <h2 class="page-header"><i class="fa"></i>  My Fundraisers</h2>
  <% unless @campaigns.empty? %>
    <%= render 'campaigns' %>
  <% else %>
    <%= link_to "Create your first fundraising to get started", new_campaign_path %>.
  <% end %>


  <h2 class="page-header">
    <i class="fa fa-dollar purple"></i>  Donations
    <br><small><span class="raised"><%= format_amount(@balance_available) %></span> pending</small>
  </h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless @payments.data.empty? %>
        <%= render 'charges' %>
        <% if @balance_available > 0 %>
          <div class="topspace text-center">
            <h3>Want your funds immediately?</h3>
            <p>
              For an extra 3% fee, instant transfer to your debit card   <!--maybe charge?-->
            </p>


            <% if @debit_card %>
                  <%= button_to "Get transfer instantly", instant_transfer_path, data: { confirm: "Instant payout #{format_amount(@instant_amt)} to your #{@debit_card.brand} debit card ending in #{@debit_card.last4}?", disable_with: "Transferring funds..." }, method: :post, params: { amount: @instant_amt.round, fee: @instant_fee.round, destination: @debit_card.id }, class: "btn btn-success btn-lg btn-custom" %>
                <% else %>
                  <%= link_to "Add a debit card", debit_cards_new_path, class: "btn btn-lg btn-success btn-custom" %>
                <% end %>
              </div>
        <% end %>
      <% else %>
        No donations yet
      <% end %>
    </div>
  </div>
  <h2 class="page-header"><i class="fa"></i> Payouts</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless @payouts.data.empty? %>
        <%= render 'transfers' %>
      <% else %>
        No payouts yet
      <% end %>
    </div>
  </div>
</div>
